<div class="row pt-2">
    <div class="col">
        <div [ngClass]="{
            'card': true,
            'border-success': itemLike > itemDislike,
            'border-danger': itemLike < itemDislike
        }">
            <h5 class="card-header"> {{ itemTitle }} <span class="text-muted float-right"> {{ itemDate | date: 'dd/MM/y' }} </span></h5>
            <div [ngClass]="{
                'card-body': true,
                'text-success': itemLike > itemDislike,
                'text-danger': itemLike < itemDislike
            }">
                <p class="card-text"> {{ itemContent }}</p>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" (click)="onLike()">
                        Like
                        <span class="badge badge-light"> {{ itemLike }} </span>
                    </button>
                    <button class="btn btn-danger" (click)="onDislike()">
                        Dislike
                        <span class="badge badge-light"> {{ itemDislike }} </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
