<div class="card">
    <h5 class="card-header">Mon petit blog</h5>
    <div class="card-body">
        <app-post-list-item *ngFor="let postItem of postItems"
                            [itemTitle]="postItem.title"
                            [itemContent]="postItem.content"
                            [itemDate]="postItem.created_at"
                            [itemLike]="postItem.loveIts"
                            [itemDislike]="postItem.hateIts">
        </app-post-list-item>
    </div>
</div>
